<%
src = component[:attributes][:src].to_s
surtitle = component[:attributes][:surtitle].to_s
title = component[:attributes][:title].to_s
subtitle = component[:attributes][:subtitle].to_s
%>
<div class="<%= promethee_class_for(component) %>" style="background-image: url(<%= src %>)">
  <hgroup>
    <% unless surtitle.blank? %><h2><%= surtitle %></h2><% end %>
    <% unless title.blank? %><h1><%= title %></h1><% end %>
    <% unless subtitle.blank? %><h2><%= subtitle %></h2><% end %>
  </hgroup>
</div>
