<%
image_data = component[:attributes][:image]
if image_data && image_data[:id]
  blob = ActiveStorage::Blob.find image_data[:id]
end

surtitle = component[:attributes][:surtitle].to_s
title = component[:attributes][:title].to_s
subtitle = component[:attributes][:subtitle].to_s
%>
<div id="component-<%= image_data[:id] %>" class="<%= promethee_class_for(component) %>" style="background-image: url(<%= url_for(blob.variant(resize: '1920')) if blob %>)">
  <% if surtitle.present? %>
    <p><%= surtitle %></p>
  <% end %>

  <% if title.present? %>
    <h1><%= title %></h1>
  <% end %>

  <% if subtitle.present? %>
    <p><%= subtitle %></p>
  <% end %>

</div>
