<%
image_data = component[:attributes][:image]
if image_data && image_data[:id]
  blob = ActiveStorage::Blob.find image_data[:id]
end

searchable_surtitle = component[:attributes][:searchable_surtitle].to_s
searchable_title = component[:attributes][:searchable_title].to_s
searchable_subtitle = component[:attributes][:searchable_subtitle].to_s
%>
<div id="component-<%= component[:id] %>" class="<%= promethee_class_for(component) %>" style="background-image: url(<%= url_for(blob.variant(resize: 1920, quality: 95)) if blob %>)">
  <% if searchable_surtitle.present? %>
    <p><%= searchable_surtitle %></p>
  <% end %>

  <% if searchable_title.present? %>
    <h1><%= searchable_title %></h1>
  <% end %>

  <% if searchable_subtitle.present? %>
    <p><%= searchable_subtitle %></p>
  <% end %>

</div>
