<script type="text/ng-template" id="promethee/components/row/edit/inspect">
  <div class="form-group">
    <div  class="btn btn-default btn-light"
          ng-click="addComponentByType('column', promethee.inspected.children)">
      Add column
    </div>
    <div ng-show="promethee.inspected.children.length > 1">
      <br><br>
      <label class="label-control">Drag the columns below to reorder them:</label>
      <ul ui-sortable
          ng-model="promethee.inspected.children"
          class="list-unstyled">
        <li ng-repeat="column in promethee.inspected.children">
          <%= icon('fa', 'bars') %> Column {{$index + 1}}
        </li>
      </ul>
    </div>
  </div>

  <%= render 'promethee/edit/inspect_advanced' %>
    <div class="form-group">
      <label  class="label-control">Background color</label>
      <input  ng-model="promethee.inspected.attributes.bgcolor.value"
              colorpicker="rgba"
              class="form-control"
              type="text" />
    </div>

    <div>
      <div class="btn btn-default btn-light" ng-click="promethee.inspected.attributes.backgrounds.value.push( { image: { searchable: false, type: 'blob', value: { id: undefined, name: '' } }, posh: { collection: [ { label: 'Left', value: 'left' }, { label: 'Center', value: 'center' }, { label: 'Right', value: 'right' } ], searchable: false, type: 'enum', value: 'center' }, posv: { collection: [ { label: 'Top', value: 'top' }, { label: 'Center', value: 'center' }, { label: 'Bottom', value: 'bottom' } ], searchable: false, type: 'enum', value: 'center' }, size: { collection: [ { label: 'Auto', value: 'auto' }, { label: 'Cover', value: 'cover' }, { label: 'Contain', value: 'contain' } ], searchable: false, type: 'enum', value: 'auto' } } )">Add background image</div>

      <div ng-repeat="background in promethee.inspected.attributes.backgrounds.value" style="margin-top: 20px">
        <h3>Background {{$index + 1}} <span class="fa fa-trash" ng-click="promethee.inspected.attributes.backgrounds.value.splice($index, 1)" style="cursor: pointer"></span></h3>
        <promethee-uploader ng-model="background.image.value" label="" limits="'.jpg,.jpeg,.png,.gif'"></promethee-uploader>

        <%= render 'promethee/edit/radiobuttons', label: 'Horizontal position', model: 'background.posh.value', values: ['left', 'center', 'right'] %>
        <%= render 'promethee/edit/radiobuttons', label: 'Vertical position', model: 'background.posv.value', values: ['top', 'center', 'bottom'] %>
        <%= render 'promethee/edit/radiobuttons', label: 'Size', model: 'background.size.value', values: ['auto', 'cover', 'contain'] %>
      </div>

    </div>



  </div>
</script>
