<script type="text/ng-template" id="promethee/components/row/edit/inspect">
  <div class="form-group">
    <div  class="btn btn-default"
          ng-click="addComponentByType('column', promethee.inspected.children)">
      Add column
    </div>
    <div ng-show="promethee.inspected.children.length">
      <br><br>
      <label class="label-control">Drag the columns below to reorder them:</label>
      <ul ui-sortable
          ng-model="promethee.inspected.children"
          class="list-unstyled">
        <li ng-repeat="column in promethee.inspected.children">
          <%= fa_icon :bars %> Column {{$index + 1}}
        </li>
      </ul>
    </div>
  </div>

  <%= render 'promethee/edit/inspect.advanced' %>
    <div class="form-group">
      <label  class="label-control">Background color</label>
      <input  ng-model="promethee.inspected.attributes.bgcolor"
              colorpicker="rgba"
              class="form-control"
              type="text" />
    </div>

    <div>
      <div class="btn btn-default" ng-click="promethee.inspected.attributes.backgrounds.push( { image: { id: undefined, name: '' }, posh: 'center', posv: 'center', size: 'auto' } )">Add background image</div>

      <div ng-repeat="background in promethee.inspected.attributes.backgrounds" style="margin-top: 20px">
        <h3>Background {{$index + 1}} <span class="fa fa-trash" ng-click="promethee.inspected.attributes.backgrounds.splice($index, 1)" style="cursor: pointer"></span></h3>
        <promethee-uploader ng-model="background.image" label="" limits="'.jpg,.jpeg,.png,.gif'"></promethee-uploader>

        <%= render 'promethee/edit/radiobuttons', label: 'Horizontal position', model: 'background.posh', values: ['left', 'center', 'right'] %>
        <%= render 'promethee/edit/radiobuttons', label: 'Vertical position', model: 'background.posv', values: ['top', 'center', 'bottom'] %>
        <%= render 'promethee/edit/radiobuttons', label: 'Size', model: 'background.size', values: ['auto', 'cover', 'contain'] %>
      </div>

    </div>



  </div>
</script>
