<%
  stylesheets = component[:attributes].dig(:stylesheets, :value)&.to_s&.html_safe
  javascripts = component[:attributes].dig(:javascripts, :value)&.to_s&.html_safe
%>

<% if stylesheets.present? %>
  <style><%= stylesheets %></style>
<% end %>

<% if javascripts.present? %>
  <script><%= javascripts %></script>
<% end %>

<div  class="<%= promethee_class_for component %>"
      id="<%= promethee_id_for component %>">
  <%= render 'promethee/show/components', components: component[:children] %>
</div>
