<%
title = component[:attributes][:searchable_title].to_s
body = component[:attributes][:searchable_body].to_s

image = component[:attributes][:image]
if image && image[:id]
  image_blob = ActiveStorage::Blob.find image[:id]
end
%>

<h4 data-toggle="collapse"
    data-target="#collapse-faq-<%= component[:id] %>"
    aria-expanded="false"
    aria-controls="collapse-faq-<%= component[:id] %>">
  <%= title %>
</h4>

<div class="<%= promethee_class_for component %> collapse" id="collapse-faq-<%= component[:id] %>">
  <% if image_blob %>
    <div class="row ">
      <div class="col-9 col-xs-9">
        <%= body.html_safe %>
      </div>
      <div class="col-3 col-xs-3">
        <%= render 'promethee/show/image.srcset', blob: image_blob, alt: '', caption: '' %>
      </div>
    </div>
  <% else %>
    <%= body.html_safe %>
  <% end %>
</div>