<nav class="navbar navbar-default promethee-editor__navbar" ng-class="{'navbar-fixed-top': fullscreen }">
  <div class="container-fluid">
    <div class="navbar-header promethee-editor__icon">
      <div class="navbar-brand"><%= File.read(__dir__ + '/../../../../assets/images/icon-promethee.svg').html_safe %></div>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="mode = 'write'" ng-class="{active: mode == 'write'}"><a><%= fa_icon :pencil %></a></li>
        <li ng-click="mode = 'move'" ng-class="{active: mode == 'move'}"><a><%= fa_icon :arrows %></a></li>
        <li ng-click="enablePreview()" ng-class="{active: mode == 'preview'}">
          <a data-toggle="dropdown"><%= fa_icon :eye %></a>
          <ul class="dropdown-menu" ng-show="mode == 'preview'">
            <li ng-click="preview = 'desktop'" ng-class="{active: preview == 'desktop'}"><a><i class="fa fa-desktop"></i></a></li>
            <li ng-click="preview = 'tablet'" ng-class="{active: preview == 'tablet'}"><a><i class="fa fa-tablet"></i></a></li>
            <li ng-click="preview = 'mobile'" ng-class="{active: preview == 'mobile'}"><a><i class="fa fa-mobile"></i></a></li>
          </ul>
        </li>
        <li ng-click="fullscreen = !fullscreen">
          <a ng-show="fullscreen"><%= fa_icon :expand %></a>
          <a ng-hide="fullscreen"><%= fa_icon :compress %></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
