<!DOCTYPE html>
<html>
  <head>
    <title>Prométhée</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'icon-promethee.png' %>
  </head>

  <body>
    <%= image_tag 'logo-promethee-vertical.svg', class: 'logo' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
