<%
  columns = component[:attributes][:cols].map { |colUid|
    colData = component[:attributes][:cols_data][colUid.to_sym] || {}
    { uid: colUid, searchable_text: colData[:searchable_text] }
  }

  rows = component[:attributes][:rows].map { |rowUid|
    rowData = component[:attributes][:rows_data][rowUid.to_sym] || {}
    { uid: rowUid, data: rowData }
  }
%>

<div id="component-<%= component[:id] %>" class="<%= promethee_class_for(component) %>">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <% columns.each do |col| %>
            <th id="col-<%= col[:uid] %>">
              <%= col[:searchable_text] %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% rows.each do |row| %>
          <tr>
            <% columns.each do |col| %>
              <%
                cell = row[:data][col[:uid].to_sym]
                next if cell.nil?
              %>
              <td id="cell-<%= row[:uid] %>-<%= col[:uid] %>">
                <%= cell[:searchable_text] %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
