<%
  searchable_visible_content = component[:attributes][:searchable_visible_content].to_s
  searchable_collapsed_content = component[:attributes][:searchable_collapsed_content].to_s
  searchable_open_label = component[:attributes][:searchable_open_label].to_s
  open_label_position = component[:attributes][:open_label_position].to_s
%>

<aside class="<%= promethee_class_for component %> aside">
  <%= searchable_visible_content.html_safe %>

  <% if searchable_collapsed_content.present? %>

      <div class="collapse aside__collapse" id="aside-collapse-<%= component[:id] %>">
        <%= searchable_collapsed_content.html_safe %>
      </div>

      <div class="aside__button aside__button--<%= open_label_position %>">
        <a href="#aside-collapse-<%= component[:id] %>" data-toggle="collapse"><%= searchable_open_label %></a>
      </div>

  <% end %>

</aside>
