<%
  visible_content = component[:attributes][:visible_content].to_s
  collapsed_content = component[:attributes][:collapsed_content].to_s
  open_label = component[:attributes][:open_label].to_s
%>

<aside class="<%= promethee_class_for component %> aside">
  <%= visible_content.html_safe %>

  <% if collapsed_content.present? %>

      <div class="collapse aside__collapse" id="aside-collapse-<%= component[:id] %>">
        <%= collapsed_content.html_safe %>
      </div>

      <div class="aside__button">
        <a href="#aside-collapse-<%= component[:id] %>" data-toggle="collapse"><%= open_label %></a>
      </div>

  <% end %>

</aside>
