<%
  visible_content = component[:attributes].dig(:visible_content, :value)&.to_s&.html_safe
  collapsed_content = component[:attributes].dig(:collapsed_content, :value)&.to_s&.html_safe
  open_label = component[:attributes].dig(:open_label, :value)&.to_s
  open_label_position = component[:attributes].dig(:open_label_position, :value)&.to_s
%>

<aside class="<%= promethee_class_for component %> aside">
    <div>
        <div class="aside__content">
            <%= visible_content %>
        </div>
        <% if collapsed_content.present? %>

            <div class="collapse aside__collapse" id="aside-collapse-<%= component[:id] %>">
                <%= collapsed_content %>
            </div>

            <div class="aside__button aside__button--<%= open_label_position %>">
                <a href="#aside-collapse-<%= component[:id] %>" data-toggle="collapse"><%= open_label %></a>
            </div>

        <% end %>
    </div>
</aside>
