<%= form_with(model: [@page, localization], local: true) do |form| %>
  <% if localization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(localization.errors.count, "error") %> prohibited this localization from being saved:</h2>

      <ul>
      <% localization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :page_id %>
    <%= form.text_field :page_id, id: :localization_page_id %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.promethee_localizer :data, master: localization.page.data, value: localization.data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
