<h1>Localization for "<%= @page %>"</h1>

<table class="table">
  <thead>
    <tr>
      <th>Localization</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @localizations.each do |localization| %>
      <tr>
        <td><%= link_to localization, [@page, localization] %></td>
        <td>
          <%= link_to 'Edit', [:edit, @page, localization] %>
          <%= link_to 'Destroy', [@page, localization], method: :delete, data: { confirm: 'Are you sure?' } %>            
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Localization', new_page_localization_path, class: 'btn btn-default' %>
