<div  class="carousel slide <%= promethee_class_for component %>"
      id="<%= promethee_id_for component %>"
      data-ride="carousel">
  <div class="carousel-inner">
    <% component[:children].each.with_index do |item, n| %>
    <div class="carousel-item item<%= ' active' if n.zero? %>">
      <%= render 'promethee/show/component', component: item %>
    </div>
    <% end %>
  </div>

  <a class="left carousel-control fontawesome-carousel-control carousel-control-prev" href="#<%= promethee_id_for component %>" data-slide="prev">
    <%= icon('fa', 'chevron-left') %>
  </a>
  <a class="right carousel-control fontawesome-carousel-control carousel-control-next" href="#<%= promethee_id_for component %>" data-slide="next">
    <%= icon('fa', 'chevron-right') %>
  </a>
</div>
