<div id="slider-<%= component[:id] %>" class="carousel slide <%= promethee_class_for component %>" data-ride="carousel">
  <div class="carousel-inner">
    <% component[:children].each.with_index do |child, n| %>
      <div class="item<%= ' active' if n.zero? %>">
        <%= render 'promethee/show/component', component: child %>
        <%= component[:attributes].dig(:contents, :"content-#{child.id}").to_s.html_safe %>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control fontawesome-carousel-control" href="#slider-<%= component[:id] %>" data-slide="prev">
    <%= fa_icon 'angle-left' %>
  </a>
  <a class="right carousel-control fontawesome-carousel-control" href="#slider-<%= component[:id] %>" data-slide="next">
    <%= fa_icon 'angle-right' %>
  </a>
</div>
