<% promethee_id = "promethee-#{SecureRandom.hex 10}" %>

<script>
  var promethee = angular
    .module('<%= promethee_id %>', ['ui.tinymce', 'dndLists'])
    .constant('data', <%= promethee.data.to_json.html_safe %>)
    .value('state', {
      editing: false
    })
    .value('definitions', [])
    .filter('htmlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsHtml(val);
      };
    }])
    .filter('urlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsResourceUrl(val);
      };
    }])
    .filter('humanize', function() {
      return function(val) {
        val = (val + '').replace(/_/g, ' ').replace(/([A-Z])/g, ' $1').replace(/\s\s+/, ' ').trim();
        return val[0].toUpperCase() + val.substring(1).toLowerCase();
      };
    });
</script>

<div id="<%= promethee_id %>"
     class="promethee-editor"
     ng-app="<%= promethee_id %>"
     ng-controller="PrometheeController as prometheeController"
     ng-class="{
       'fullscreen': fullscreen,
       'promethee-editor--preview': preview,
       'promethee-editor--preview--mobile': preview && previewMode == 'mobile',
       'promethee-editor--preview--tablet': preview && previewMode == 'tablet',
       'promethee-editor--preview--desktop': preview && previewMode == 'desktop'
     }">

  <% # TODO custom views %>
  <% Dir['app/views/promethee/components/*'].each do |file| %>
  <% end %>
  <% # TODO iterate over files in gem %>
  <% ['component', 'components', 'components/row', 'components/column', 'components/text', 'components/image', 'components/video'].each do |type| %>
    <%= render partial: "promethee/#{type}_edit", locals: { promethee_id: promethee_id } %>
  <% end %>

  <input type="hidden" name="page[data]" id="page_data" value="{{promethee.data}}" />
  {{data | json}}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= image_tag 'icon-promethee.png', class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li ng-click="enablePreview()" ng-hide="preview"><a><%= fa_icon :eye %></a></li>
          <li ng-click="previewMode = 'mobile'" ng-class="{ active: previewMode == 'mobile' }" ng-show="preview">
            <a><%= fa_icon :mobile %></a>
          </li>
          <li ng-click="previewMode = 'tablet'" ng-class="{ active: previewMode == 'tablet' }" ng-show="preview"><a>
            <%= fa_icon :tablet %></a>
          </li>
          <li ng-click="previewMode = 'desktop'" ng-class="{ active: previewMode == 'desktop' }" ng-show="preview"><a>
            <%= fa_icon :desktop %></a>
          </li>
          <li ng-click="disablePreview()" ng-show="preview"><a><%= fa_icon 'eye-slash' %></a>
          </li>
          <li ng-click="enableFullscreen()" ng-hide="fullscreen"><a><%= fa_icon :expand %></a></li>
          <li ng-click="disableFullscreen()" ng-show="fullscreen"><a><%= fa_icon :compress %></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="promethee-editor__page" ng-class="{ 'container-fluid': fullscreen }">
    <ng-include src="'promethee/components'"></ng-include>
  </div>

  <button type="button" class="btn btn-default btn-block" ng-click="addComponentTo(data)">Add component</button>

  <div class="promethee-editor__adder" ng-controller="AdderController">
    <div class="modal fade in" tabindex="-1" role="dialog" style="display: {{adding ? 'block' : 'none'}}">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Select component</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div  ng-repeat="definition in definitions"
                    ng-click="pushComponent(definition)"
                    class="col-md-3">
                <div class="thumbnail">
                  <img ng-src="{{definition.thumb}}" class="img-responsive">
                  <h4>{{definition.name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Work in progress -->
  <!-- <iframe id="iframe"></iframe> !-->
</div>

<script>
  promethee.controller('PrometheeController', ['data', '$scope', function(data, $scope) {
    if (data === null || data === '') {
      data = [];
    }
    $scope.data = data;
    $scope.fullscreen = false;
    $scope.preview = false;
    $scope.previewMode = 'desktop';
    $scope.component = {
      children: data
    }

    $scope.enablePreview = function() {
      this.preview = true;
      // Work in progress
      // document.getElementById('iframe').contentWindow.document.documentElement.innerHTML = document.documentElement.innerHTML;
    }

    $scope.disablePreview = function() {
      this.preview = false;
    }

    $scope.enableFullscreen = function() {
      this.fullscreen = true;
    }

    $scope.disableFullscreen = function() {
      this.fullscreen = false;
    }

  }]);

  promethee.controller('AdderController', ['$scope', '$rootScope', 'definitions', function($scope, $rootScope, definitions) {

    $scope.adding = null;
    $scope.definitions = definitions;

    $scope.close = function() {
      $scope.adding = null;
    };

    $scope.pushComponent = function(definition) {
      var definition = angular.copy(definition.data);
      $scope.adding.push(definition);
      $scope.close();
    };

    $rootScope.addComponentTo = function(components) {
      $scope.adding = components;
    };

  }]);
</script>
