<div id="<%= promethee.id %>" ng-app="<%= promethee.id %>" ng-controller="Promethee as promethee" class="promethee-editor">
  <%= promethee_template :component %>
  <%= promethee_templates %>
  <%= promethee.input %>

  <div class="promethee-editor__content">
    <div ng-repeat="data in promethee.data track by $id(data)" ng-include="'promethee/component'"></div>
  </div>

  <div class="promethee-editor__sidebar{{promethee.state.editing ? ' promethee-editor__sidebar--open' : ''}}">

  </div>
</div>

<script>
  Promethee.Controller.for('Promethee', ['promethee', 'state', function(promethee, state) {
    this.data = promethee.data;
    this.state = state;
  }]);
</script>

<script>
  (function() {
    var promethee = <%= promethee.to_js %>;
    promethee.initialize();
  })();
</script>
