<%
promethee_data = Promethee::Data.new master_data
logo = File.read "#{__dir__}/../../assets/images/icon-promethee.svg"
%>

<script type="text/javascript">
var promethee = angular
  .module('Promethee', ['summernote', 'ngAnimate', 'ui.sortable'], ['$rootScopeProvider', function($rootScopeProvider) {
    $rootScopeProvider.digestTtl(15);
  }])
  .value('definitions', [])
  .value('presets', []);
</script>

<% promethee_util_partials.each do |partial| %>
  <%= render partial %>
<% end %>

<% promethee_preset_partials.each do |partial| %>
    <%= render partial %>
<% end %>

<script type="text/javascript">
promethee.controller('PrometheeController', ['$scope', 'summernoteConfig', 'presets', 'identifier', function($scope, summernoteConfig, presets, identifier) {
  $scope.data = <%= promethee_data.to_json.html_safe %>;

  // Data (TODO use Adder and probably page definition to init)
  if (typeof $scope.data !== 'object' || $scope.data === null || $scope.data.type !== 'page') {
    $scope.data = {
      id: '',
      type: 'page',
      version: 1,
      attributes: {
        title: 'New page',
        description: '',
        stylesheets: '',
        javascripts: ''
      },
      children: []
    };
  }

  $scope.identifier = identifier;

  $scope.promethee = {
    data: $scope.data,
    definitions: [],
    presets: presets,
    inspected: $scope.data,
    mode: 'move',
    preview: 'desktop',
    // fullscreen: false
    fullscreen: true
  };

  $scope.inspect = function(component, event) {
    if(event.target.closest('.promethee-edit__component') === event.currentTarget) {
      $scope.promethee.inspected = component;
    }
  }

  $scope.enablePreview = function() {
    if (this.promethee.mode === 'preview') return;
    this.promethee.mode = 'preview';
    this.sendPreviewData('preview');
  }

  $scope.sendPreviewData = function(target) {
    var form = document.createElement('form');
    document.body.appendChild(form);
    form.method = 'POST';
    form.action = <%= promethee_preview_path.to_json.html_safe %>;
    form.target = target;

    var input = document.createElement('input');
    input.type = 'text';
    input.value = JSON.stringify($scope.promethee.data);
    input.name = 'data';
    form.appendChild(input);
    form.submit();
    document.body.removeChild(form);
  }

  $scope.remove = function(component, components) {
    var index = components.indexOf(component);
    components.splice(index, 1);
    this.promethee.inspected = null;
  }

  $scope.submit = function() {
    $('#promethee').closest('form').submit();
  };

  $scope.summernoteConfig = summernoteConfig;
  $scope.sendPreviewData('thumb-preview');
}]);
</script>

<div  id="promethee"
      ng-app="Promethee"
      ng-controller="PrometheeController as prometheeController"
      ng-init="component = promethee.data">

  <div class="promethee-open" ng-click="promethee.fullscreen = true">
    <div class="promethee-open__logo"><%= logo.html_safe %></div>
    <div>Click to edit page</div>
    <iframe class="promethee-open__thumb-preview" id="thumb-preview" name="thumb-preview"></iframe>
  </div>

  <div class="promethee-edit" ng-show="promethee.fullscreen">
    <input type="hidden" name="page[data]" id="page_data" value="{{promethee.data}}" />
    <nav class="navbar navbar-default promethee-edit__navbar" ng-class="{'navbar-fixed-top': promethee.fullscreen }">
      <div class="container-fluid">
        <div class="navbar-header promethee-edit__icon">
          <div class="navbar-brand"><%= logo.html_safe %></div>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li ng-click="promethee.mode = 'move'" ng-class="{active: promethee.mode == 'move'}"><a><%= fa_icon :pencil %></a></li>
            <li ng-click="enablePreview()" ng-class="{active: promethee.mode == 'preview'}">
              <a data-toggle="dropdown"><%= fa_icon :eye %></a>
              <ul class="dropdown-menu" ng-show="promethee.mode == 'preview'">
                <li ng-click="promethee.preview = 'desktop'"
                    ng-class="{active: promethee.preview == 'desktop'}">
                    <a><i class="fa fa-desktop"></i></a></li>
                <li ng-click="promethee.preview = 'tablet'"
                    ng-class="{active: promethee.preview == 'tablet'}">
                    <a><i class="fa fa-tablet"></i></a></li>
                <li ng-click="promethee.preview = 'mobile'"
                    ng-class="{active: promethee.preview == 'mobile'}">
                    <a><i class="fa fa-mobile"></i></a></li>
              </ul>
            </li>
            <li ng-click="submit()"><a><%= fa_icon :save %></a></li>
            <li ng-click="promethee.fullscreen = false"><a><%= fa_icon :close %></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <% promethee_component_partials.each do |partial| %>
      <%= render partial %>
    <% end %>

    <%= render 'promethee/edit/move' %>
    <%= render 'promethee/edit/preview' %>
  </div>
</div>
