<div  id="<%= promethee.id %>" 
      ng-app="<%= promethee.id %>" 
      ng-controller="Promethee as promethee" 
      class="promethee-editor" 
      ng-class="{fullscreen: promethee.fullscreen}">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= image_tag 'icon-promethee.png', class: 'navbar-brand' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li ng-click="promethee.fullscreen = true" ng-hide="promethee.fullscreen"><a><i class="fa fa-expand" aria-hidden="true"></i>fullscreen</a></li>
          <li ng-click="promethee.fullscreen = false" ng-show="promethee.fullscreen"><a><i class="fa fa-compress" aria-hidden="true"></i>quit full</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  <%= promethee_template :component %>
  <%= promethee_templates %>
  <%= promethee.input %>
  <div ng-class="{ 'container-fluid': promethee.fullscreen}">
    <div ng-repeat="data in promethee.data track by $id(data)" ng-include="'promethee/component'"></div>
  </div>
</div>

<script>
  Promethee.Controller.for('Promethee', ['promethee', function(promethee) {
    this.data = promethee.data;
    this.fullscreen = false;
  }]);
</script>

<script>
  (function() {
    var promethee = <%= promethee.to_js %>;
    promethee.initialize();
  })();
</script>
