<%
promethee_id = "promethee-#{SecureRandom.hex 10}"
promethee_data = promethee.data
promethee_data = promethee_data.to_json unless promethee_data.is_a? String
%>

<script>
  var promethee = angular
    .module('<%= promethee_id %>', ['ui.tinymce', 'dndLists'])
    .constant('data', <%= promethee_data.html_safe %>)
    .value('state', {
      editing: false
    })
    .value('definitions', [])
    .filter('htmlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsHtml(val);
      };
    }])
    .filter('urlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsResourceUrl(val);
      };
    }])
    .filter('humanize', function() {
      return function(val) {
        val = (val + '').replace(/_/g, ' ').replace(/([A-Z])/g, ' $1').replace(/\s\s+/, ' ').trim();
        return val[0].toUpperCase() + val.substring(1).toLowerCase();
      };
    });

  promethee.controller('PrometheeController', ['data', '$scope', 'definitions', '$http', function(data, $scope, definitions, $http) {
    
    // Data
    if (data === null || data === '') {
      data = [];
    }
    $scope.data = data;
    $scope.component = {
      children: data
    };

    // Preview modes
    $scope.fullscreen = false;
    $scope.preview = false;
    $scope.previewMode = 'desktop';

    // Drag and drop utility
    $scope.allowedTypes = definitions.map(function(definition) {
      return definition.data.type;
    });

    $scope.enablePreview = function() {
      this.preview = true;

      var form = document.createElement('form');
      document.body.appendChild(form);
      form.method = 'POST';
      form.action = 'promethee/preview';
      form.target = 'preview';
      var input = document.createElement('input');
      input.type = 'text';
      input.value = JSON.stringify(data);
      input.name = 'data';
      form.appendChild(input);
      form.submit();
      document.body.removeChild(form);
    }

    $scope.disablePreview = function() {
      this.preview = false;
    }

    $scope.enableFullscreen = function() {
      this.fullscreen = true;
    }

    $scope.disableFullscreen = function() {
      this.fullscreen = false;
    }

  }]);

</script>

<div id="<%= promethee_id %>"
     class="promethee-editor"
     ng-app="<%= promethee_id %>"
     ng-controller="PrometheeController as prometheeController"
     ng-class="{
       'promethee-editor--fullscreen': fullscreen,
       'promethee-editor--preview': preview
     }">
  <input type="hidden" name="page[data]" id="page_data" value="{{data}}" />

  <%= render 'promethee/partials/include_components', promethee_id: promethee_id %>
  <%= render 'promethee/partials/navbar' %>
  <%= render 'promethee/partials/preview' %>
  <%= render 'promethee/partials/page' %>
  <%= render 'promethee/partials/adder' %>
</div>
