<script>
  var promethee = angular
    .module(<%= promethee.id.to_json.html_safe %>, ['ui.tinymce', 'dndLists'])
    .constant('data', <%= promethee.data.to_json.html_safe %>)
    .value('state', {
      editing: false
    })
    .filter('htmlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsHtml(val);
      };
    }])
    .filter('urlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsResourceUrl(val);
      };
    }])
    .filter('humanize', function() {
      return function(val) {
        val = (val + '').replace(/_/g, ' ').replace(/([A-Z])/g, ' $1').replace(/\s\s+/, ' ').trim();
        return val[0].toUpperCase() + val.substring(1).toLowerCase();
      };
    });
</script>

<div id="<%= promethee.id %>"
     ng-app="<%= promethee.id %>"
     ng-controller="Promethee as promethee"
     class="promethee-editor"
     ng-class="{
       'fullscreen': promethee.fullscreen,
       'promethee-editor--preview': promethee.preview,
       'promethee-editor--preview--mobile': promethee.preview && promethee.previewMode == 'mobile',
       'promethee-editor--preview--tablet': promethee.preview && promethee.previewMode == 'tablet',
       'promethee-editor--preview--desktop': promethee.preview && promethee.previewMode == 'desktop'
     }">

  <%= promethee_template :component %>
  <%= promethee_template :components %>
  <%= promethee_templates %>
  <%= promethee.input %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= image_tag 'icon-promethee.png', class: 'navbar-brand' %>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li ng-click="promethee.startPreview()" ng-hide="promethee.preview"><a><%= fa_icon :eye %></a></li>
          <li ng-click="promethee.previewMode = 'mobile'" ng-class="{ active: promethee.previewMode == 'mobile' }" ng-show="promethee.preview">
            <a><%= fa_icon :mobile %></a>
          </li>
          <li ng-click="promethee.previewMode = 'tablet'" ng-class="{ active: promethee.previewMode == 'tablet' }" ng-show="promethee.preview"><a>
            <%= fa_icon :tablet %></a>
          </li>
          <li ng-click="promethee.previewMode = 'desktop'" ng-class="{ active: promethee.previewMode == 'desktop' }" ng-show="promethee.preview"><a>
            <%= fa_icon :desktop %></a>
          </li>
          <li ng-click="promethee.stopPreview()" ng-show="promethee.preview"><a><%= fa_icon 'eye-slash' %></a>
          </li>
          <li ng-click="promethee.fullscreen = true" ng-hide="promethee.fullscreen"><a><%= fa_icon :expand %></a></li>
          <li ng-click="promethee.fullscreen = false" ng-show="promethee.fullscreen"><a><%= fa_icon :compress %></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="promethee-editor__page" ng-class="{ 'container-fluid': promethee.fullscreen }">
    <ng-include src="'promethee/components'"></ng-include>
  </div>
  <!-- Work in progress -->
  <!-- <iframe id="iframe"></iframe> !-->
</div>

<script>
  promethee.controller('Promethee', ['data', function(data) {
    var self = this;
    this.data = data;
    this.fullscreen = false;
    this.preview = false;
    this.previewMode = 'desktop';

    this.startPreview = function() {
      self.preview = true;
      // Work in progress
      document.getElementById('iframe').contentWindow.document.documentElement.innerHTML = document.documentElement.innerHTML;
    }

    this.stopPreview = function() {
      self.preview = false;
    }
  }]);
</script>
