<%
promethee_data = Promethee::Data.new master_data
%>

<script type="text/javascript">
var promethee = angular
  .module('Promethee', ['summernote', 'ngAnimate'])
  .value('definitions', []);
</script>

<% promethee_util_partials.each do |partial| %>
  <%= render partial %>
<% end %>

<script type="text/javascript">
promethee.controller('PrometheeController', ['$scope', 'summernoteConfig', function($scope, summernoteConfig) {

  // Data (TODO use Adder and probably page definition to init)
  if ($scope.data === null || $scope.data === '') {
    $scope.data = {
      id: '',
      type: 'page',
      version: 1,
      children: []
    };
  }

  $scope.promethee = {
    data: $scope.data,
    inspected: null,
    mode: 'write',
    //mode: 'move',
    preview: 'desktop',
    fullscreen: false
  };

  $scope.inspect = function(component, event) {
    if(event.target.closest('.promethee-edit__component') === event.currentTarget) {
      $scope.promethee.inspected = component;
    }
  }

  $scope.enablePreview = function() {
    if (this.promethee.mode === 'preview') return;
    this.promethee.mode = 'preview';
    this.sendPreviewData('preview');
  }

  $scope.sendPreviewData = function(target) {
    var form = document.createElement('form');
    document.body.appendChild(form);
    form.method = 'POST';
    form.action = <%= promethee_preview_path.to_json.html_safe %>;
    form.target = target;

    var input = document.createElement('input');
    input.type = 'text';
    input.value = JSON.stringify($scope.promethee.data);
    input.name = 'data';
    form.appendChild(input);
    form.submit();
    document.body.removeChild(form);
  }

  $scope.remove = function(component, components) {
    var index = components.indexOf(component);
    components.splice(index, 1);
  }

  $scope.submit = function() {
    $('#promethee').closest('form').submit();
  };

  $scope.summernoteConfig = summernoteConfig;

  $scope.promethee.data = <%= promethee_data.to_json.html_safe %>;

  $scope.sendPreviewData('thumb-preview');
}]);
</script>

<div
  id="promethee"
  ng-app="Promethee"
  ng-controller="PrometheeController as prometheeController"
>

  <div class="promethee-open" ng-click="opened = true">
    <span class="promethee-open__button">Open Prométhée Editor</span>
    <iframe class="promethee-open__thumb-preview" id="thumb-preview"></iframe>
  </div>

  <div class="promethee-edit" ng-class="{'promethee-edit--closed': !opened}">
    <input type="hidden" name="page[data]" id="page_data" value="{{promethee.data}}" />
    <nav class="navbar navbar-default promethee-edit__navbar" ng-class="{'navbar-fixed-top': promethee.fullscreen }">
      <div class="container-fluid">
        <div class="navbar-header promethee-edit__icon">
          <div class="navbar-brand"><%= File.read(__dir__ + '/../../assets/images/icon-promethee.svg').html_safe %></div>
        </div>
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li ng-click="promethee.mode = 'write'" ng-class="{active: promethee.mode == 'write'}"><a><%= fa_icon :pencil %></a></li>
            <li ng-click="promethee.mode = 'move'" ng-class="{active: promethee.mode == 'move'}"><a><%= fa_icon :arrows %></a></li>
            <li ng-click="enablePreview()" ng-class="{active: promethee.mode == 'preview'}">
              <a data-toggle="dropdown"><%= fa_icon :eye %></a>
              <ul class="dropdown-menu" ng-show="promethee.mode == 'preview'">
                <li ng-click="promethee.preview = 'desktop'" ng-class="{active: promethee.preview == 'desktop'}"><a><i class="fa fa-desktop"></i></a></li>
                <li ng-click="promethee.preview = 'tablet'" ng-class="{active: promethee.preview == 'tablet'}"><a><i class="fa fa-tablet"></i></a></li>
                <li ng-click="promethee.preview = 'mobile'" ng-class="{active: promethee.preview == 'mobile'}"><a><i class="fa fa-mobile"></i></a></li>
              </ul>
            </li>
            <li ng-click="submit()">
              <a><%= fa_icon :save %></a>
            </li>
            <li ng-click="opened = false">
              <a><%= fa_icon :close %></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <% promethee_component_partials.each do |partial| %>
      <%= render partial %>
    <% end %>

    <%= render 'promethee/edit/write' %>
    <%= render 'promethee/edit/move' %>
    <%= render 'promethee/edit/preview' %>
  </div>
</div>
