<div id="<%= promethee.id %>" ng-app="<%= promethee.id %>" ng-controller="Promethee as promethee" class="promethee-editor">
  <%= promethee_template :component %>
  <%= promethee_templates %>
  <%= promethee.input %>

  <div ng-repeat="data in promethee.data track by $id(data)" ng-include="'promethee/component'"></div>
</div>

<script>
  Promethee.Controller.for('Promethee', ['promethee', function(promethee) {
    this.data = promethee.data;
  }]);
</script>

<script>
  (function() {
    var promethee = <%= promethee.to_js %>;
    promethee.initialize();
  })();
</script>
