<%
master_data ||= nil
promethee_data = Promethee::Data.new master_data
%>

<script>
  var promethee = angular
    .module('Promethee', ['summernote', 'ngAnimate'])
    .value('data', <%= promethee_data.to_json.html_safe %>)
    .value('definitions', [])
    .filter('htmlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsHtml(val);
      };
    }])
    .filter('urlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsResourceUrl(val);
      };
    }])
    .filter('humanize', function() {
      return function(val) {
        val = (val + '').replace(/_/g, ' ').replace(/([A-Z])/g, ' $1').replace(/\s\s+/, ' ').trim();
        return val[0].toUpperCase() + val.substring(1).toLowerCase();
      };
    });

  promethee.controller('PrometheeController', ['data', '$scope', 'definitions', '$http', function(data, $scope, definitions, $http) {

    // Data (TODO use Adder and probably page definition to init)
    if (data === null || data === '') {
      data = {
        id: '',
        type: 'page',
        version: 1,
        children: []
      };
    }
    $scope.data = data;

    // Preview modes
    $scope.fullscreen = false;
    $scope.move = false;
    $scope.preview = false;
    $scope.pageHidden = false;
    $scope.previewMode = 'desktop';

    var moveTimeout;

    $scope.enableMove = function() {
      clearTimeout(moveTimeout);
      this.move = true;
    };

    $scope.disableMove = function() {
      var self = this;

      this.pageHidden = true;
      this.move = false;
      moveTimeout = setTimeout(function() {
        self.pageHidden = false;
        self.$apply();
      }, 500);
    };

    $scope.toggleMove = function() {
      this.move ? this.disableMove() : this.enableMove();
    };

    $scope.enablePreview = function() {
      this.preview = true;
      this.move = false;

      var form = document.createElement('form');
      document.body.appendChild(form);
      form.method = 'POST';
      form.action = <%= promethee_preview_path.to_json.html_safe %>;
      form.target = 'preview';
      var input = document.createElement('input');
      input.type = 'text';
      input.value = JSON.stringify(data);
      input.name = 'data';
      form.appendChild(input);
      form.submit();
      document.body.removeChild(form);
    }

    $scope.disablePreview = function() {
      this.preview = false;
    }

    $scope.enableFullscreen = function() {
      this.fullscreen = true;
    }

    $scope.disableFullscreen = function() {
      this.fullscreen = false;
    }

    $scope.remove = function(component, components) {
      var index = components.indexOf(component);
      components.splice(index, 1);
    }

  }]);

</script>

<div id="promethee"
     class="promethee-editor"
     ng-app="Promethee"
     ng-controller="PrometheeController as prometheeController"
     ng-class="{
       'promethee-editor--fullscreen': fullscreen,
       'promethee-editor--move': move,
       'promethee-editor--preview': preview
     }">
  <input type="hidden" name="page[data]" id="page_data" value="{{data}}" />
  <%= render 'promethee/partials/include_components' %>
  <%= render 'promethee/partials/navbar' %>
  <%= render 'promethee/partials/preview' %>
  <%= render 'promethee/partials/mover' %>
  <%= render 'promethee/partials/page' %>
</div>

