<%
promethee_data = Promethee::Data.new master_data, localization_data: localization_data
%>

<script type="text/javascript">
  var promethee = angular
    .module('PrometheeLocalizer', ['summernote'])
    .value('data', <%= promethee_data.localization_data_to_json.html_safe %>)
    .filter('htmlSafe', ['$sce', function($sce) {
      return function(val) {
        return $sce.trustAsHtml(val);
      };
    }]);
</script>

<% promethee_util_partials.each do |partial| %>
  <%= render partial %>
<% end %>

<script type="text/javascript">
  promethee.controller('PrometheeLocalizerController', ['$scope', 'summernoteConfig', 'data', function($scope, summernoteConfig, data) {

    $scope.data = data;
    $scope.component = {children: data.components};

    $scope.summernoteConfig = summernoteConfig;

    $scope.$watch('data', function(new_val, old_val) {
      if (old_val != new_val) {
        document.body.classList.add("promethee-page-locked");
      }
    }, true);
  }]);
</script>



<div id="prometheeLocalizer"
     class="promethee-localizer"
     ng-app="PrometheeLocalizer"
     ng-controller="PrometheeLocalizerController as prometheeLocalizerController">

  <script type="text/ng-template" id="promethee/localize/component">
    <ng-include src="'promethee/components/' + component.type + '/localize'"></ng-include>
  </script>

  <input type="hidden" name="<%= object_name %>[<%= method_name %>]" id="page_data" value="{{data}}" />

  <% promethee_localize_partials.each do |partial| %>
      <%= render partial %>
  <% end %>

  <% #TODO override templates from current project %>

  <div class="row">
    <div class="col-md-6"><b>Master</b></div>
    <div class="col-md-6"><b>Translation</b></div>
  </div>
  <div ng-repeat="component in component.children">
    <ng-include src="'promethee/localize/component'"></ng-include>
  </div>
</div>
