<% image_zoomable = true if image_zoomable.nil? # do not use ||= as image_zoomable may be "false" %>
<% fullsize_url = url_for(blob) %>
<%  image_width = blob.metadata.has_key?(:width) ? blob.metadata[:width] : ActiveStorage::Analyzer::ImageAnalyzer.new(blob).metadata[:width] %>

<% if image_zoomable %>
  <a data-fancybox="gallery" title="<%= strip_tags(caption) %>" href="<%= fullsize_url %>">
<% end %>
    <img src="<%= fullsize_url %>"
        srcset="
          <% [1920, 1600, 1440, 1366, 1280, 1024, 800, 768, 640, 360, 200].each do |size| %>
            <% next if size > image_width %>
            <%= url_for(blob.variant(resize: "#{size}>", quality: 95)) %> <%= size %>w,
          <% end %>
        "
        width="<%= image_width %>"
        sizes="100vw"
        alt="<%= alt.html_safe %>"
        class="img-fluid img-responsive"
        >

<% if image_zoomable %>
  </a>
<% end %>
