<%= link_to root_path do %>
  <%= image_tag 'logo-promethee-vertical.svg', class: 'logo' %>
<% end %>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Test the editor', demo_edit_path %></li>
    <li><%= link_to 'See the result', demo_show_path %></li>
    <li><%= link_to 'Test the localizer', demo_localize_path %></li>
    <li><%= link_to 'See the localized result', demo_show_localized_path %></li>
    <li><%= link_to 'See the data', demo_data_path %></li>
  </ul>
</nav>
<% if notice %><p id="notice"><%= notice %></p><% end %>
