<%
data = {
  id: 'ero342ezr',
  type: 'page',
  version: 1,
  children: [
    {
      id: '5lebjl4j6',
      type: 'image',
      version: 1,
      attributes: {
        src: 'https://images.unsplash.com/photo-1502919280275-1bed9aca68ab?auto=format&fit=crop&w=1500&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D'
      }
    },
    {
      id: '6lebjl4j6',
      type: 'text',
      version: 1,
      attributes: {
        body: '<h1><small>SCENE III.</small><br>A wood near Athens.</h1><h2>Enter, from opposite sides, a Fairy, and PUCK</h2>'
      }
    },
    {
      id: '7lebjl4j6',
      type: 'row',
      version: 1,
      children: [
        {
          id: '8lebjl4j6',
          type: 'column',
          version: 1,
          attributes: {
            size: 6,
            offset: 0
          },
          children: [
            {
              id: '9lebjl4j6',
              type: 'text',
              version: 1,
              attributes: {
                body: '<h3>PUCK</h3><p>How now, spirit! whither wander you?</p>'
              }
            },
            {
              id: '10lebjl4j6',
              type: 'text',
              version: 1,
              attributes: {
                body: '<h3>Fairy</h3><p>Over hill, over dale,<br>Thorough bush, thorough brier,<br>Over park, over pale,<br>Thorough flood, thorough fire,<br>I do wander everywhere,<br>Swifter than the moon\'s sphere;<br>And I serve the fairy queen,<br>To dew her orbs upon the green.<br>The cowslips tall her pensioners be:<br>In their gold coats spots you see;<br>Those be rubies, fairy favours,<br>In those freckles live their savours:<br>I must go seek some dewdrops here<br>And hang a pearl in every cowslip\'s ear.<br>Farewell, thou lob of spirits; I\'ll be gone:<br>Our queen and all our elves come here anon.</p>'
              }
            }
          ]
        },
        {
          id: '11lebjl4j6',
          type: 'column',
          version: 1,
          attributes: {
            size: 6,
            offset: 0
          },
          children: [
            {
              id: '12lebjl4j6',
              type: 'image',
              version: 1,
              attributes: {
                src: 'https://images.unsplash.com/photo-1448375240586-882707db888b?auto=format&fit=crop&w=1050&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D',
                alt: 'Wood'
              }
            }
          ]
        }
      ]
    },
    {
      id: '13lebjl4j6',
      type: 'video',
      version: 1,
      attributes: {
        url: 'https://vimeo.com/155443762'
      }
    },
    {
      id: '14lebjl4j6',
      type: 'row',
      version: 1,
      children: [
        {
          id: '15lebjl4j6',
          type: 'column',
          version: 1,
          attributes: {
            size: 6,
            offset: 0
          },
          children: [
            {
              id: '16lebjl4j6',
              type: 'image',
              version: 1,
              attributes: {
                src: 'https://images.unsplash.com/photo-1502581827181-9cf3c3ee0106?auto=format&fit=crop&w=721&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D',
                alt: 'Night'
              }
            }
          ]
        },
        {
          id: '17lebjl4j6',
          type: 'column',
          version: 1,
          attributes: {
            size: 6,
            offset: 0
          },
          children: [
            {
              id: '18lebjl4j6',
              type: 'text',
              version: 1,
              attributes: {
                body: '<h3>PUCK</h3><p>The king doth keep his revels here to-night:<br>Take heed the queen come not within his sight;<br>For Oberon is passing fell and wrath,<br>Because that she as her attendant hath<br>A lovely boy, stolen from an Indian king;<br>She never had so sweet a changeling;<br>And jealous Oberon would have the child<br>Knight of his train, to trace the forests wild;<br>But she perforce withholds the loved boy,<br>Crowns him with flowers and makes him all her joy:<br>And now they never meet in grove or green,<br>By fountain clear, or spangled starlight sheen,<br>But, they do square, that all their elves for fear<br>Creep into acorn-cups and hide them there.</p>'
              }
            }
          ]
        }
      ]
    },
    {
      id: '19lebjl4j6',
      type: 'video',
      version: 1,
      attributes: {
        url: 'https://www.youtube.com/watch?v=O7EeES8u6QE'
      }
    }
  ]
}
localization = {
  version: 1,
  components: [
    {
      id: '6lebjl4j6',
      type: 'text',
      version: 1,
      master_version: 1,
      attributes: {
        body: '<h1><small>SCENE III.</small><br>Un bois près d’Athènes. Il fait nuit. La lune brille.</h1><h2>Une Fée entre par une porte et Puck par une autre.</h2>'
      }
    },
    {
      id: '9lebjl4j6',
      type: 'text',
      version: 1,
      master_version: 1,
      attributes: {
        body: '<h3>PUCK</h3><p>Eh bien ! esprit, où errez-vous ainsi ?</p>'
      }
    },
    {
      id: '10lebjl4j6',
      type: 'text',
      version: 1,
      master_version: 1,
      attributes: {
        body: '<h3>LA FÉE</h3><p>Par la colline, par la vallée, <br>à travers les buissons, à travers les ronces, <br>par les parcs, par les haies, <br>à travers l’eau, à travers le feu, <br>j’erre en tous lieux, <br>plus rapide que la sphère de la lune. <br>Je sers la reine des fées, <br>et j’humecte les cercles qu’elle trace sur le gazon. <br>Les primevères les plus hautes sont ses pensionnaires. <br>Vous voyez des taches sur leurs robes d’or : <br>ce sont les rubis, les bijoux de la fée, <br>taches de rousseur d’où s’exhale leur senteur. <br>Il faut maintenant que j’aille chercher des gouttes de rosée, <br>pour suspendre une perle à chaque oreille d’ours. <br>Adieu, toi, bouffon des esprits, je vais partir. <br>Notre reine et tous ses elfes viendront ici tout à l’heure.</p>'
      }
    },
    {
      id: '18lebjl4j6',
      type: 'text',
      version: 1,
      master_version: 1,
      attributes: {
        body: '<h3>PUCK</h3><p>Le roi donne ici ses fêtes cette nuit. <br>Veille à ce que la reine ne s’offre pas à sa vue ; <br>car Obéron est dans une rage épouvantable, <br>parce qu’elle a pour page <br>un aimable enfant volé à un roi de l’Inde. <br>Elle n’a jamais eu un plus charmant captif ; <br>et Obéron jaloux voudrait faire de l’enfant <br>un chevalier de sa suite, pour parcourir les forêts sauvages. <br>Mais elle retient de force l’enfant bien-aimé, <br>la couronne de fleurs, et en fait toute sa joie. <br>Chaque fois maintenant qu’ils se rencontrent, au bois, sur le gazon, <br>près d’une limpide fontaine, à la clarté du ciel étoilé, <br>le roi et la reine se querellent : si bien que tous leurs sylphes effrayés <br>se fourrent dans la coupe des glands et s’y cachent.


</p>'
      }
    }
  ]
}
%>

<div>
  <%= link_to 'Try with your own pages', pages_path, class: 'btn btn-default pull-right' %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
    <li role="presentation"><a href="#show" aria-controls="show" role="tab" data-toggle="tab">Show</a></li>
    <li role="presentation"><a href="#localize" aria-controls="localize" role="tab" data-toggle="tab">Localize</a></li>
    <li role="presentation"><a href="#show-localized" aria-controls="show-localized" role="tab" data-toggle="tab">Show localized</a></li>
    <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Data</a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="edit">
      <%= form_for :record do |f| %>
        <%= f.promethee :data, value: data %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="show">
      <%= promethee data %>
    </div>
    <div role="tabpanel" class="tab-pane" id="localize">
      <%= form_for :record do |f| %>
        <%= f.promethee_localizer :data, master: data, value: localization %>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="show-localized">
      <%= promethee data, l: localization %>
    </div>
    <div role="tabpanel" class="tab-pane" id="data">
      <div class="row">
        <div class="col-md-6">
          <p>Data</p>
          <pre><%= JSON.pretty_generate data %></pre>
        </div>
        <div class="col-md-6">
          <p>Localization</p>
          <pre><%= JSON.pretty_generate localization %></pre>
        </div>
      </div>
    </div>
  </div>
</div>
