<nav class="navbar navbar-default promethee-editor__navbar">
  <div class="container-fluid">
    <div class="navbar-header promethee-editor__icon">
      <div class="navbar-brand"><%= File.read(__dir__ + '/../../../assets/images/icon-promethee.svg').html_safe %></div>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li ng-click="toggleMove()"><a><%= fa_icon :arrows %></a></li>
        <li ng-click="enablePreview()" ng-hide="preview"><a><%= fa_icon :eye %></a></li>
        <li ng-click="previewMode = 'mobile'" ng-class="{ active: previewMode == 'mobile' }" ng-show="preview">
          <a><%= fa_icon :mobile %></a>
        </li>
        <li ng-click="previewMode = 'tablet'" ng-class="{ active: previewMode == 'tablet' }" ng-show="preview"><a>
          <%= fa_icon :tablet %></a>
        </li>
        <li ng-click="previewMode = 'desktop'" ng-class="{ active: previewMode == 'desktop' }" ng-show="preview"><a>
          <%= fa_icon :desktop %></a>
        </li>
        <li ng-click="disablePreview()" ng-show="preview"><a><%= fa_icon 'eye-slash' %></a>
        </li>
        <li ng-click="enableFullscreen()" ng-hide="fullscreen"><a><%= fa_icon :expand %></a></li>
        <li ng-click="disableFullscreen()" ng-show="fullscreen"><a><%= fa_icon :compress %></a></li>
      </ul>
    </div>
  </div>
</nav>
